* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
   height: 100%;
   padding: 0px;
   margin: 0px;
}
/*zakometysh container_base i main footer pide v pizdu  */
/* this is a base container; all components are places here*/
#container_base {
    min-height: 100%;
    padding-bottom: 40px;
    margin-left:30px;
    margin-right:30px;
}
/*<div id="container_base">
    <div id="main">
    <div class="header">
      {% include '_navbar.html' %}
    </div>

    <div class='row' id="contains">
      <div class='col-4'>
        {% include '_side_bar.html' %}
      </div>
      <div class='col-8 ml-auto centered '>
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    </div>
</div>*/
/*container_base треба шоб база займала все всю сторінку повністю на сто процентів, #main ти всталяєш
як матрійошку шоб розмістити адекватно контент на тому шо може лишити container_base пустим */
#main {
    padding-bottom: 40px;
    margin-left:20px;
    margin-right:20px;
}
div#contains.row {
    margin-top: 50px;
}

div.col-8.ml-auto.centered {
    margin-right: 10%;
}

footer {
    position: relative;
    background-color: rgba(14,25,36,0.85);

    height: 40px;
    margin-top: -40px;
    text-align: center;
    clear: both;
    left: 0;
    right: 0;
}
.center p {
    margin: 0;
    position: absolute;
    color: #61892F;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1, h2, h3, h4, a, li, strong {
    font-family: 'Roboto', sans-serif;
    color: #1b1e21;
}

*::selection{ 
    background-color: #ff8d2f;
    color: whitesmoke;
}

p {
    color: #1b1e21;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

a.artic, .artic {
    color: #1b1e21;
    font-family: 'Roboto', sans-serif;
}

.text-success.mr-auto {
    color: #6A9C20;
    font-size: 100%;
    text-decoration: none;
}
.text-success.mr-auto:hover, a.artic:hover {
    color: #FF3300;
    font-size: 100%;
    text-decoration: none;
}

/*Navbar start*/
.navbar {
    background-color: rgba(14,25,36,0.85);   /*rgba(14,25,36,0.95);*/
    text-emphasis: #008000;
    color: #008000;
    color: #6A9C20;
    height: 60px;
    font-weight: bold;
}

/* The progress container (grey background) */
.progress-container {
    position: fixed;
    top: 60px; /* Adjust to desired height */
    width: 100%;
    background: #13163100;
  }
  
/* The progress bar (scroll indicator) */
#myBar {
    height: 5px;
    background-color: #86c93f;
    width: 0%;
}

a#banner.navbar-brand {
    color: #6A9C35;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-right: 80px;
    margin-left: 25px;
}

/*a#banner.navbar-brand:hover {
    color: #6A9C40;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-right: 80px;
    margin-left: 25px;
} */

span.navbar-toggler-icon.icon-bar {
    color: #6A9C20;
    }

a.nav-link-offset-5.mr-5, a.sect {
    color: #6A9C20;
    opacity: 1;
    text-decoration: none;
    font-size: 27px;
}
a.nav-link-offset-5.mr-5:hover, a.navbar-brand.text-light.mr-auto:hover, a.sect:hover, #banner:hover {
    color: #FF3300;
    text-decoration: none;
    pointer-events: none;
}

a.navbar-brand.text-light.mr-auto { color: #6A9C20; opacity: 1; text-decoration: none; font-size: 140%;}

strong#banner {
    color: #6A9C20;
}

a.navbar-brand.mr-auto {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #6A9C20;
}
a.navbar-brand.mr-auto:hover {
    color: #FF3300;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Navbar end*/

a#artic {
    color: #1b1e21;
    font-family: 'Roboto', sans-serif;
}

a#artic:hover {
    color: #FF3300;
    text-decoration: none;
}

div#article {
    width: 800px;
}

a#breadcrumb  {
    color: #6A9C20;
    font-size: 165%;
    font-family: 'Roboto', sans-serif;
    }

a#breadcrumb:hover {
    color: #FF3300;
    font-size: 165%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}
a.tag.d-inline-flex.p-2 {
    color: #6A7C20;
    font-size: 110%;
    text-decoration: none;
}

a.tag.d-inline-flex.p-2:hover {
    color: #FF3300;
}

li#active {
    color: #FF3300;
}

span.navbar-toggler-icon { color: #6A9C20; }


.header { overflow: auto; }


.col-9.ml-auto.centered {
    margin-left: auto;
    padding-top: 30px;
    float: none;
}

.article_list {
    width: 800px;
    margin-top: 45px;
}

.index {
    width: 800px;
 }

.paginator {
    margin-left: 25%;
    margin-right: 15%;
}

.breadcrumb {
    padding: 2px 15px !important;
    background: white;
}

p.article { font-size: 120%;}

a.navbar-brand.text-success.mr-auto {
    color: #6A9C20;
    font-family: 'Roboto', sans-serif;
}
.shared-container {
    border: 1px ; /* Adds a border around each container */
    padding: 10px; /* Adds spacing inside the container */
    margin-bottom: 20px; /* Adds space between containers */
    border-radius: 5px; /* Rounds the corners */
    /*background-color: #f9f9f9; /* Light background for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.shared-container h1 {
    margin-top: 0; /* Removes unnecessary margin at the top */
}

.shared-container img.thumb {
    max-width: 55%;
    margin-left: 20%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.shared-container .tags {
    margin-top: 10px; /* Adds space above tags */
}

.shared-container .tags .tag {
    margin-right: 5px; /* Adds spacing between tags */
    /*padding: 5px 10px; /* Padding for tag links */
    border-radius: 3px; /* Rounds tag edges */
    text-decoration: none;
    color: #333;
}

/* a.language {
    font-size: 145%;
    font-family: 'Roboto', sans-serif;
    color: #6A9C20;
    border: 2px solid #6A9C20;
    padding: 2px 7px;
    cursor: pointer;
}  */

/*
    a#page {
        font-size: 125%;
        font-family: 'Roboto', sans-serif;
        color: #61892F;
        border: 2px solid #61892F;
        padding: 6px 16px;
        cursor: pointer;
    }

    a#page_a {
        font-size: 125%;
        background-color: #D9F27A;
        font-family: 'Roboto', sans-serif;
        color: #61892F;
        border: 2px solid #61892F;
        padding: 6px 16px;
        cursor: pointer;
        position: relative;
        left: 20%;
    }

    a#page:hover {
        font-size: 125%;
        background-color: #86C232;
        border: 2px solid #86C232;
        color: #222629;
        font-family: 'Roboto', sans-serif;
    }

    a#page_a:hover {
        font-size: 125%;
        background-color: #86C232;
        border: 2px solid #86C232;
        color: #222629;
        font-family: 'Roboto', sans-serif;
    }

*/


