
@media screen and (max-width: 320px) {

    /*Navbar start*/
    .navbar{
        background-color: rgba(14,25,36,0.85);   /*rgba(14,25,36,0.95);*/
        text-emphasis: #008000;
        color: #008000;
        color: #6A9C20;
        height: 50px;
        font-weight: bold;
    }

    a#banner.navbar-brand {
        color: #6A9C20;
        position: relative;
        font-size: 100%;
        bottom: 3vw;
        right: 6vw;
        text-decoration: none;
    }

    ul.navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: 0vw;

        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    a.nav-link-offset-5.mr-5 {position: relative;
        bottom: 10vh;
        }

    input.form-control.mr-2.col-sm-4.col-md-4.col-lg-8 {
        color: #575958;
        position: relative;
        font-size: large;
        text-align: center;
        /*hight: 40px;*/
        /* border: 2px solid #6A9C20; */
        background-color: #eeffcc;

        left: -5%;

        bottom: 10.3vh;
        /* padding-right: 40px; */

        margin-right: 0px;
        width: 80vw;
        float: left;

    }

    button.btn.success {
        position: relative;
        width: 16vw;
        right: 1vw;

        bottom: 16.6vh;;
        font-size: 90%;
        padding: 0px;
        height: 40px;
        left: 78vw;

        align-self: center;

        margin: 0px
    }


    form.form-inline.ml-auto {
        display: flex;
        top: -1vw;
        justify-content: space-between;
    }

    div#contains.row {
        margin-top: 30px;
    }

    img.thumb {
        width: 85vw;
        position: relative;
        align-self: center;
        right: 10%;
    }

    a#artic.artic {
            font-size: 70%;
            text-align: left;
            float: unset;
            left: -70vw;
            position: relative;
            display: flow;
            margin-left: 10vw;
        }
        .mx-5 {
        position: relative;
        right: 40vw;
       text-align: center;
       width: 350px;
       }

    strong {
        right: 10%;
        position:relative;
    }

    a.tag.d-inline-flex.p-2 {
        position: relative;
        right: 12%;
        width: 50%;
        margin-top: -1%
    }

    a.artic {
        position: relative;
        right: 25vw;
        width: 85vw;
        display: inline-flex;
    }
    a.sect {
        font-size: 7vw;
        left: -20vw;
    }

    footer {
         position:relative;
         width: 100%;
    }

    button.navbar-toggler.mr-auto {
        position: relative;
        right: -79vw;
        bottom: 10vh;
        margin: 0px;

    }

    .container {
        display: inline-block;
        cursor: pointer;
        right: 50%;

    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #6A9C20;
        margin: 6px 0;
        transition: 0.4s;
    }

.change .bar1 {
        background-color: #FF3300;
        opacity: 0.75;
        width: 36px;
        height: 6px;
    }

    .change .bar2 {
        background-color: #FF3300;
        opacity: 0.75;
        width: 36px;
        height: 6px;
    }

    .change .bar3 {
        background-color: #FF3300;
        opacity: 0.75;
        width: 36px;
        height: 6px;
    }
    #navbar.navbar.navbar-expand-md.fixed-top {
         width: 100vw;
    }

    a.sect {
        position: relative;
        right: 10%}
    element.style {

        height: auto;
        width: 51%;
        }

    }



@media screen and (min-width: 320px) and (max-width: 930px) {

        /*Navbar start*/
        .navbar{
            background-color: rgba(14,25,36,0.85);   /*rgba(14,25,36,0.95);*/
            text-emphasis: #008000;
            color: #008000;
            color: #6A9C20;
            height: 50px;
            font-weight: bold;
        }

        a#banner.navbar-brand {
            color: #6A9C20;
            position: relative;
            font-size: 140%;
            bottom: 4vw;
            text-decoration: none;
        }


        a.btn.btn.sects {
            background-color: rgba(14,25,36,0.85);
            font-family: 'Roboto', sans-serif;
            border: 3px solid #6A9C20;
            color: #6A9C20;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 24px;
            border-radius: 10px;
            font-weight: bold;
            margin: 50px 30px 25px 30px;

        }

        ul.navbar-brand {
            display: inline-block;
            padding-top: .3125rem;
            padding-bottom: 0vw;

            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }

        a.nav-link-offset-5.mr-5 {position: relative;
            bottom: 10vh;
            }

        input.form-control.mr-2.col-sm-4.col-md-4.col-lg-8 {
            color: #575958;
            position: relative;
            font-size: large;
            text-align: center;
            /*hight: 40px;*/
            /* border: 2px solid #6A9C20; */
            background-color: #eeffcc;

            left: -5%;

            bottom: 10.3vh;
            /* padding-right: 40px; */

            margin-right: 0px;
            width: 80vw;
            float: left;

        }

        button.btn.success {
            position: relative;
            width: 16vw;
            right: 1vw;
            bottom: 16.6vh;;
            font-size: 90%;
            padding: 0px;
            height: 40px;
            left: 78vw;
            align-self: center;
            margin: 0px
        }

        .breadcrumb {
            left: 30%;
            top: -8rem;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: .75rem 1rem;
            margin-bottom: 1rem;
            list-style: none;
            background-color: transparent;
            border-radius: .25rem;
            position: absolute;
        }

        form.form-inline.ml-auto {
            display: flex;
            top: -1vw;
            justify-content: space-between;
        }

        div#contains.row {
            margin-top: 30px;
        }

        img.thumb {
            width: 78%;
            position: relative;
            align-self: center;
            right: 15%;
        }

        a#artic.artic {

            float: unset;
            position: relative;
            display: flow;
            margin-left: 10vw;
            font-size: 120%;
            font-weight: bold;
        }

        .mx-5 {
            position: relative;
            right: 40vw;
           text-align: center;
           width: 350px;
           }

        strong {
            right: 10%;
            position:relative;
        }

        a.tag.d-inline-flex.p-2 {
            position: relative;
            right: 12%;
            width: 50%;
            margin-top: -1%
        }

        a.artic {
            position: relative;
            right: 25vw;
            width: 85vw;
            display: inline-flex;
        }
        a.sect {
            font-size: 7vw;
            left: -20vw;
            font-size: 28px;
        }

        footer {
             position:relative;
             width: 100%;
        }

        button.navbar-toggler.mr-auto {
            position: relative;
            right: -79vw;
            bottom: 10vh;
            margin: 0px;
        }

        .container {
            display: inline-block;
            cursor: pointer;
            right: 50%;
        }

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #6A9C20;
            margin: 6px 0;
            transition: 0.4s;
        }

        .change .bar1 {
            background-color: #FF3300;
            opacity: 0.75;
            width: 36px;
            height: 6px;
        }

        .change .bar2 {
            background-color: #FF3300;
            opacity: 0.75;
            width: 36px;
            height: 6px;
        }

        .change .bar3 {
            background-color: #FF3300;
            opacity: 0.75;
            width: 36px;
            height: 6px;
        }
        #navbar.navbar.navbar-expand-md.fixed-top {
             width: 100vw;
        }

}