div#article {
    width: 800px;

}
a {
    color: #61892F;
}

a:hover {
    color: #FF3300;
    text-decoration: none;
}

@media screen and (min-width: 100px) and (max-width: 500px) {

    img.m-auto {
        width: 85vw;
        position: relative;
        align-self: center;
        right: 8%;
    }
    part {


        width: 350px;


    }

    p {width: 100vw;}

    img {
        width: 85vw;
    }
    address {
        margin-bottom: 1rem;
        font-style: normal;
        line-height: inherit;
        width: min-content;
    }

    h1 {
        font-size: 70%;
        text-align:center;
        float: initial;
        left: -35vw;
        position: relative;
        display: flow-root;
        margin-left: 10vw;
    }
}
