a#page {
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    color: #61892F;
    border: 2px solid #61892F;
    padding: 6px 16px;
    cursor: pointer;
}

a#page_a {
    font-size: 125%;
    background-color: #D9F27A;
    font-family: 'Roboto', sans-serif;
    color: #61892F;
    border: 2px solid #61892F;
    padding: 6px 16px;
    cursor: pointer;
    position: relative;
    left: 0%;
}

a#page:hover {
    font-size: 125%;
    background-color: #86C232;
    border: 2px solid #86C232;
    color: #222629;
    font-family: 'Roboto', sans-serif;
}

a#page_a:hover {
    font-size: 125%;
    background-color: #86C232;
    border: 2px solid #86C232;
    color: #222629;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 930px) {
 #pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;                  /* Space between items */
    font-size: 80%;            /* Make everything smaller */
    padding: 20px;
  }

}