{% extends "en_legin_abroad/en_base.html" %}
{% load static %}
<head>

</head>
<body>
{% block content %}
  <h1 style="margin-left: 25%">ABOUT</h1>
  <div class="row">
      <div>
        <p style='width: 600px; margin-left: 15px; font-size: 110%; text-align: center;'>Hi! My name is Alex, and I studied physics for some time. I’ve been living abroad for a long time and have over three years of experience in Python development and testing.
          On this platform, I share my thoughts on travel, student life in the Czech Republic, my experience of almost a year spent in Japan, and many other topics.
          <br>
            I hope my experiences and insights will be interesting to someone.
          </br>
        </p>
        <br>
        <p style='width: 500px; margin-left: 15px; font-size: 90%; text-align: center;'><em>* All material presented on this resource is my subjective opinion or description of my personal experience.</em>
        </p>
      </div>
  </div>
{% endblock content %}
</body>
