{% extends "en_legin_abroad/en_base.html" %}
{% load static %}
<head>

</head>
<body>
{% block content %}
  <h1 style="margin-left: 25%">ABOUT</h1>
  <div class="row">


  
    <div>
    <p style='width: 500px; margin-left: 15px; font-size: 140%; text-align: center;'>Hi! My name is Alex, I'm a Ph.D. student, and I've been living abroad for a long time. <br> Here I'm sharing my thoughts on travel, student life in the Czech Republic and my experience of almost a year spent in Japan and many other things. </br>I hope my thoughts and experience will be interesting for someone. </p>
    <br>
    <p style='width: 500px; margin-left: 15px; font-size: 70%; text-align: center;'><em>* All material presented on this resource is my subjective opinion or description of my personal experience.</em>
    </p>
    </div>
  </div>
{% endblock content %}
</body>
