{% load static %}
{% load bootstrap4 %}

<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/article_style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/sections.css' %}">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <title>Legin' abroad</title>
      {% block static %}{% endblock %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142983434-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-142983434-1');
        </script>
  </head>

  <body>
    <div id="container_base">
      <div id="main">
        <div class="header">
          {% include 'en_legin_abroad/en_navbar.html' %}
        </div>

        <div class='row' id="contains">
          <div class='col-4'>
            {% include 'en_legin_abroad/en_side_bar.html' %}
          </div>
          <div class='col-8 ml-auto centered' id="articles-content">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>

    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>

  <footer>
    <div class="center">
      <p>&copy Leginabroad.com</p>
    </div>
  </footer>

  </body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/uk_UK/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


</html>
