{% extends "en_legin_abroad/en_base.html" %}
{% load static %}

<body>
  {% block content %}
      <div class="article_list">
        {% if tag %}
          <h2>Articles with tag: "{{ tag.name }}":</h2>
        {% endif %}
        {% for article in articles %}
          <div class="shared-container article-container" id="article-card">
            <h1><a class='artic' href="{{ article.get_absolute_url }}">{{ article.topic }}</a></h1>
            <a class="sect" href="{{ article.section.get_absolute_url }}">{{ article.section }}</a></br>
            {% if article.thumb %}
              <a href="{{ article.get_absolute_url }}"><img class='thumb' src="{{ article.thumb.url }}"></a></br>
            {% endif %}
            <p><a class="artic" href="{{ article.get_absolute_url }}">{{ article|safe }}</a></p>
            {% load i18n %}
            <br><strong>{{ article.date_added|date:'F, d, Y' }}</strong>
             <br>  <p class="tags">
              {% for tag in article.tags.all %}
                <a class="tag d-inline-flex p-2" href="{% url "en_legin_abroad:en_article_by_tag" tag.slug %}">#{{ tag.name }}</a>
              {% endfor %}
            </p>
          </div>
        {% empty %}
          <li>
            There is no entries for the current topic.
          </li>
        {% endfor %}
      </div>

    <div class="paginator">
      {% include "en_legin_abroad/en_pagination.html" with page=articles %}
    </div>
  {% endblock content %}
</body>
