{% extends "en_legin_abroad/en_base.html" %}
{% load static %}

<head>
<!--  <link rel="stylesheet" href="{% static 'css/sections.css' %}" />-->
</head>
<body>
  {% block content %}
    <nav>
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><a class="navbar-brand mr-auto" href="{% url 'en_legin_abroad:en_index' %}">Home</a></li>
        </ol>
      </nav>
    <div class="section-grid-container">
  
        {% for section in sections %}
          <div class='shared-container section-container'>
            <h2><a id='sections' href="{{section.get_absolute_url}}">{{ section.name }}</a></h2>
            {% if section.thumb %}
              <a href="{{section.get_absolute_url}}"><img class='m-auto ses' style="position: center" src="{{ section.thumb.url }}"></a>
            {% endif %}
            {% if section.description %}
              <p><a class="sections" href="{{ section.get_absolute_url }}">{{ section.description|safe|truncatewords:150 }}</a></p>
            {% endif %}
          </div>
        {% endfor %}
    </div>
  {% endblock content %}
</body>
