a.btn.btn.sects{
    background-color: rgba(14,25,36,0.85);
    font-family: 'Roboto', sans-serif;
    border: 3px solid #6A9C20;
    color: #6A9C20;
    padding: 15px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    font-weight: bold;
    margin: 50px 30px 25px 30px;
    position: fixed;
}

a.btn.btn.sects:hover{
    background-color: #86C232;
    border: 2px solid #86C232;
    color: rgba(14,25,36,0.85);
    padding: 17px 27px 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 24px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}



@media screen and (max-width: 320px) {

    a.btn.btn.sects {display: none;}
}
