{% extends "legin_abroad/base.html" %}
{% load static %}
<head>

</head>
<body>
{% block content %}
  <h1 style="margin-left: 25%">ABOUT</h1>
  <div class="row">


  
    <div>
    <p style='width: 500px; margin-left: 15px; font-size: 140%; text-align: center;'>Привіт! Мене звуть Саша я студен-фізик і живу вже довший час закордоном.<br>Свої думки про подорожі, життя студента в Чехії та майже рік проведений в Японії та багато інших речей я буду викладати на цьому ресурсі.</br>Сподіваюсь комусь мій досвід знадобиться, або просто буде цікавий.</p>
    <br>
    <p style='width: 500px; margin-left: 15px; font-size: 70%; text-align: center;'><em>*Увесь матеріал викладений на цьому ресурсі є моєю суб'єктивною думкою, або описом досвіду пережитого мною особисто.</em>
    </p>
    </div>
  </div>

{% endblock content %}
</body>
