name: Continuous Integration

on:
  push:
    branches:
      - master

concurrency:
  group: master
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            css:
            - 'en_legin_abroad/static/css/**/*.css'
            - 'css/**/*.css'
            - 'static/**/*.css'
      - name: Configure SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          cat >>~/.ssh/config <<END
          Host target
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/id_rsa
            LogLevel ERROR
            StrictHostKeyChecking no
          END

      - name: Deploy with collect static
        if: steps.changes.outputs.css == 'true'
        run: |
          ssh target 'cd ~/leginabroad && git pull --ff-only && yes yes | sudo ./restart.sh -c'

      - name: Deploy without changes in static files
        if: steps.changes.outputs.css != 'true'
        run: |
          ssh target 'cd ~/leginabroad && git pull --ff-only && sudo ./restart.sh'
